{% extends 'base.html.twig' %}

{% block topo %}
    <div class="topo">
        <img src="{{ asset('img/dio.png')}}" width="25%" height="25%"/>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css')}}"/>
{% endblock %}

{% block title %}
    Cadastro de usuarios
{% endblock %}

{# formulario de cadastro usuario #}
{% block body %}
    <form action="" method="POST">
        <div class="form-group">
          <label for="nome">Usuario</label>
          <input type="text"
            class="form-control" name="nome" id="" aria-describedby="helpId" placeholder="Entre com nome">
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" name="email" id="" aria-describedby="helpId" placeholder="Entre com email">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
{% endblock %}